.comands {
    background-color: var(--bg-comands);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .75em 0;
}

.start {
    background-color: var(--btn-color);
    padding: .25em 1.25em;
    border: solid .15em var(--line-color);
    border-radius: 10px;
    font-family: var(--logo-font);
    color: var(--line-color);
    font-size: .9rem;
}