header {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.logo {
    font-family: var(--logo-font);
    font-size: 2rem;
    margin-bottom: .5em;
    text-align: center;
}

fieldset {
    display: flex;
    align-items: center;
    font-size: .85rem;
}

legend {
    float: left;
    margin-right: .5em;
    font-weight: 500;
}

label {
    margin-right: .5em;
    font-weight: 500;
}

label:hover {
    cursor: pointer;
    color: var(--white);
}

@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}