.rules {
    background-color: var(--bg-header);
    padding: 1em;
    width: 60vw;
    margin: 0 auto;
    border-radius: 10px;
}

.rules-title {
    font-weight: 600;
    margin-bottom: .5em;
}

.rules-content {
    font-size: .75rem;
    text-align: justify;
}

.rules-difficult {
    margin: .75em 0;
    font-size: .75rem;
    font-weight: 600;
}