.rules {
    background-color: var(--bg-color);
    padding: 1em;
    width: 60vw;
    margin: 0 auto;
    border-radius: 10px;
}

.rules-title {
    font-weight: 600;
    margin-bottom: .5em;
}

.rules-content {
    font-size: .75rem;
    text-align: justify;
}

.rules-difficult {
    margin: .75em 0;
    font-size: .75rem;
    font-weight: 600;
}

.rules p {
    font-size: .75rem;
    margin-top: .5em;
    text-align: justify;
    color: var(--line-color);
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .rules {
        width: 50vw;
    }
}

@media screen and (min-width: 1024px) {
    .rules {
        width: 40vw;
    }

    .rules-title, .rules-difficult {
        font-size: 1.25rem;
    }

    .rules-content {
        font-size: 1.125rem;
    }

    .rules p {
        font-size: 1.125rem;
        margin-top: .75em;
    }
}