@import url(./styles/header.css);
@import url(./styles/comands.css);
@import url(./styles/rules.css);
@import url(./styles/main.css);
@import url(./styles/finish.css);
@import url(./styles/footer.css);

:root {
    --logo-font: 'Titan One', cursive;
    --main-font: 'Saira', sans-serif;
    --bg-color: #596363;
    --bg-comands: #25769c;
    --green: #66f384ec;
    --line-color: #02072b;
    --white: #F1F1F1;
    --card-color: #313186;
    --red: #f84646e5;
}

body {
    background-color: var(--bg-color);
    font-size: 16px;
    font-family: var(--main-font);
}

.hide {
    display: none;
}